<!DOCTYPE html>
<html>
<head>
    <title>ACL</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>You are not allowed to access this area.</h1>
<a href="/">Login with a username and password</a>
<hr>
index.ejs
</body>
</html>