<section>
    <div id="news"></div>

    <div id="createSearch">
        <div id="searchSong">
            <h2>Search</h2>
        </div><div class="verticalLine2"></div><div id="createSong" data-ng-app="myApp">
            <h2><a href="#/New">Create</a></h2>
        </div>
    </div>


    <div id="featuredsongs"><div id="popularSongs">
            <h3>popular Songs</h3>
            <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_19.png" alt=" Will Smith" width="60px" height="60px">
                <p class="playsurface"> Bad Boys - Mike Lowrey </p>
            </div>
            <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_30.png" alt=" Superman" width="60px" height="60px">
                <p class="playsurface"> Superman - Clark Kent </p>
            </div>
            <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_36.png" alt=" Duck" width="60px" height="60px">
                <p class="playsurface"> Ducktown - Donald Duck </p>
            </div>
        </div><div class="verticalLine3"></div><div id="newSongs">
            <h3>New Songs</h3>
                <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_19.png" alt=" Will Smith" width="60px" height="60px">
                <p class="playsurface"> Bad Boys - Mike Lowrey </p>
                </div>
                <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_30.png" alt=" Superman" width="60px" height="60px">
                <p class="playsurface"> Superman - Clark Kent </p>
                </div>
                <div class="newSong">
                <img src="../images/Homepage-future-96-dpi_36.png" alt=" Duck" width="60px" height="60px">
                <p class="playsurface"> Ducktown - Donald Duck </p>
                </div></div></div>

</section>