
<div data-ng-init="searchSong()"></div>

<div id="mySong">
    <h2>My Songs</h2>
        <input type="text" data-ng-model="searchText.$">
        <button type="submit">Search</button>

    <div data-ng-repeat="song in songs.songs | filter: searchText">
        <div data-ng-controller="songCtrl">

            <h4>Author:</h4>
            <h5>{{ song.author }}</h5>
            <h4>Name:</h4>
            <a href="#/Listen/{{song.id}}">{{ song.name }}</a>
            <h4>Speed:</h4>
            <h5> {{song.speed}}</h5>
            <h4>Volume:</h4>
            <h5> {{song.volume}}</h5>

        </div>
    </div>
</div>