<div data-ng-init="getSong()"></div>

<div id="songPage">
    <h2> Song</h2>

    <div>
        <!-- <a href="#/songs/{{song._id}}"></a>-->
        <div class="txt" data-ng-controller="songCtrl">

            <h4>Author: </h4>
            <h5>{{ song.author.displayName }}</h5>
            <h4>Name: </h4>
            <a>{{ song.name }}</a>
            <h4>Speed: </h4>
            <h5> {{song.speed}}</h5>
            <h4>Volume:</h4>
            <h5> {{song.volume}}</h5>

            <div data-ng-repeat="comment in song.comments">
                <h4> Comments: </h4>
                <h4> Name: </h4>
                <h5> {{comment.UserID.loginName}}</h5>
                <h4> Comment: </h4>
                <h5> {{comment.comment}}</h5>
            </div>

            <div data-ng-repeat="rating2 in song.ratings">
                <h4>Rating: </h4>
                <h5> {{rating2.UserID.displayName}}</h5>
                <h5> {{rating2.rating}}</h5>
            </div>
            <button id="like" data-ng-click="addRating('like')">Like</button>
            <button id="dislike" data-ng-click="addRating('dislike')">Dislike</button>
        </div>
    </div>
</div>