<div data-ng-init="getSong()"></div>

<div id="songPage">
    <h2> Song</h2>

    <div>
        <!-- <a href="#/songs/{{song._id}}"></a>-->
        <div class="txt" data-ng-controller="songCtrl">
            <table>
                <tr>
                    <td id="td1" colspan="3"><a > {{ song.name }}</a>
                    </td>
                    <td colspan="2">Likes: 10</td>
                </tr>
                <tr>
                    <td>
                        <h4>Started by: </h4>

                    </td>
                    <td class="td2" colspan="2">
                        <h5>{{ song.author.displayName }}</h5>

                    </td>
                    <td colspan="2">Dislikes: 10</td>
                </tr>
                <tr>
                    <td>
                        <h4>Started on: </h4>

                    </td>
                    <td class="td2" colspan="2">
                        <h5>{{ song.author.modificationDate }}</h5>

                    </td>
                    <td colspan="2">6 itteraties</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h4> Comments: </h4>

                    </td>
                </tr>
                <tr data-ng-repeat="comment in song.comments">
                    <td>
                        <h4> Name: </h4>

                    </td>
                    <td>
                        <h5> {{comment.UserID.loginName}}</h5>

                    </td>
                    <td>
                        <h4> Comment: </h4>

                    </td>
                    <td colspan="2">
                        <h5> {{comment.comment}}</h5>

                    </td>
                </tr>
            </table>

            <button id="like" data-ng-click="addRating('like')">Like</button>
            <button id="dislike" data-ng-click="addRating('dislike')">Dislike</button>

  </br>
            <a href="javascript:void(0)" data-ng-click="inviteFriends()"> Invite your friends!</a>
            </br>
<!--<label>
    Leave a comment
</label>
            </br>
            <textarea id="comment">
            </textarea>-->

        </div>
    </div>
</div>