/*********** Header ******************************************************/
header, body, footer {
    min-width: 500px;

}
#alphaheader{
    background-color: #eeecee;
    min-width: 500px;
    max-width: 60%;
    height: 100px;
    margin-left: 20%;
}



body{

}
/*********** Logo *****************/


/*********** Account **************/
#logo{

}
#account{
    float: right;

}
#loginForm {
    width: 250px;
    float: right;
    background-color: red;
}

#inbox {
    background-color: hotpink;

}

#greeting{
    background-color: red;
}
#centerdiv{
    min-height: 500px;
    max-width: 60%;
    margin-left: 20%;
    background-color: #eeecee;
    }
/************ Nav **************/
nav {
    background-image:url('../images/header_balk.png');
    clear: both;
    height: 100px;
    text-align: center;
    color: white;

}

a:link ,a:hover ,a:visited ,a:active{
    color: white;

}

nav ul li{
    display: inline;
    margin: 0 0 0 5%;

}


/******** Body ***********************************************************/
section {
    background-color: purple;
}

#news,  {
    background-color: orange;
    height: 150px;
    margin: 20px 10% 20px 10%;
}

#createSong {
    background-color: gray;
    height: 300px;
    float: left;
    width: 50%;
    margin: 0 0 20px 0;
}

#searchSong {
    background-color: cornflowerblue;
    height: 300px;
    float: right;
    width: 50%;
}

tr{
    padding: 30px !important;
}

/********** Footer ********************************************************/
footer {
    background-color: green;
    clear: both;
    margin: 0 0 0 20%  !important;
    width: 60%;
    position: absolute;
    bottom:0;
    text-align: center;
}